@charset "UTF-8";

body {
	background-color: rgba(204,204,204,1.00);
}
#banner{
	background-color: rgba(35,32,119,1.00);
	color:rgba(0,0,0,1.00);
	width: 100%;
}
#banner h1 img{ height: auto;
}

#wrapper{width:1000px; margin:0 auto; background-color:rgba(255,255,255,1.00);
padding: 20px;}
#wrapper h1 {
	color: rgba(224,7,10,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;}

.link{
	width: 350px;
	 float:right;}
.link ul{text-align:right;}
.link li{ display:inline; margin-left:15px; 	}
.link li a{
	color: rgba(255,138,0,1.00);
	text-decoration: none;
	font-family: aguafina-script;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	}
.link li a:hover{color: rgba(191,99,23,1.00)}
.link li a:active{
	color: rgba(3,255,7,1.00)
}

.background {
	background-image: url(img/Bar%20Restaurant%20with%20Table%20Counter.jpg);
	object-fit: cover;
	margin:30px 0;
}

body div p {
	color: rgba(255,255,255,1.00);
	font-size: 15px;
}
#form p{
	color: rgba(0,0,0,1.00);
}
#footer{
	clear:both;
	color: rgba(0,0,0,1.00);
	color: rgba(0,0,0,1.00);
}
#footer p {
	color: rgba(0,0,0,1.00);
}
